/*Selector universal => se aplica a todo el documento*/
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
  }
  @font-face {
    font-family: Poppins;
    src: url(Fonts/Poppins-Regular.ttf);
}
  body {
    /* margin-top: 300px; */
    background-image: url(./Images/fondo_1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    font-family: sans-serif;
    padding: 120px 10px 0;
    display: flex;
    align-content: center;
    justify-content: center;
  }
  header {
    height: 80px;
    position: fixed; /*no se mueve al subir y bajar de pag*/
    width: 100%;
    top:0%;
    left: 0%;
  }
  .nav{
  display: flex; /*tipo de visualizacion*/
  justify-content: space-between;
  max-width: 992px;
  margin: 0 auto;
  }
  .nav-link{
    color: aliceblue;
    text-decoration: none;
  }
  .logo{
    font-size: 30px;
    font-weight:bold;
    padding: 0 40px;
    line-height: 80px;
  }
  .nav-menu{
    display: flex;
    margin-right: 40px;
    list-style: none;
  }
  .nav-menu-item{
    font-size: 15px;
    font-weight: bold;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;  
  }
  /*A cada item del menú le otorgo propiedades*/
  .nav-menu-link{
    padding: 8px 12px;
    border-radius:3px;
  }
  /*llamo a la acción del mouse y le agrego una propiedad de color =>*/
  .nav-menu-link:hover{
  background-color: coral;
  }
  
  #form1{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 8%;
    margin: 5%;
    color: aliceblue;
  }
  
  #nombre{
    width: 300px;
    height: 40px;
    border-color: purple;
    border-radius: 5px;
    margin: 2%;
    padding-left: 3%;
  }
  
  #flotante{
    padding: 0% 20%;
    color: white;
  }
  fieldset{
    width: 550px;
  }
  input{
     margin: 2%;
  }
  fieldset{
    padding-left:2%;
  }
  input[id^=b]{
    width:99px;
    height: 40px;
    margin: auto;
    border-radius:8px;
    background-color:#EC255A;
    color:aliceblue;
    border: none;
  }
  #b1, #b2{
    width: 160px;
    height: 35px;
  }
  #gameOptions{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height:500px;
  }
  #gameOptions div{
    width: 30%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 2px solid white;
    border-radius: 8px;
    color: white;
  }
  #gameOptions div img{
    width: 80%;
    height: 80%;
  }
